@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#acceuil-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  .background-container {
    // background: salmon;
    grid-column: 1;
    grid-row: 1/4;
    min-width: 50em;
    min-height: 50em;
    background: url("../Images/acceuil-bacground.svg");
    background-size: 215%;
    background-position: -115vh -35vw;
    background-repeat: no-repeat;
  }
  .text-in-acceuil-background,
  .text-in-acceuil {
    grid-column: 1/ 3;
    grid-row: 2;
    @include cent();
    justify-content: flex-end;
    background-color: var(--colorXX);
    z-index: -1;
  }
  .text-in-acceuil {
    grid-column: 2;
    text-align: center;
    padding: 1em 2em 1em 2em;
    z-index: 2;
  }
  .social-networks-container {
    // background-color: seagreen;
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .social-networks {
      @include cent();
      justify-content: flex-start;
      .social-networks-icons {
        width: 2em;
        height: 2em;
        //  background-color: aqua;
        @include cent();
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 2em;
      }
      // .twitter{
      //     // background: url('../Images/twitter.svg');
      //  }
    }
    .social-networks-link{
      a{
        cursor: pointer;
        color: var(--color0);
        text-decoration: none;
      }
    }
  }
}
