@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#atelier {
  width: 100%;
  height: calc(100vh - 3em);
  margin-top: 3em;
  @include cent();
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--colorX);
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($color: #f2d6bd, $alpha: 0.2);
    &:hover {
      background: var(--color0);
    }
  }
  .works {
    width: 100%;
    height: 14em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 5%;
    @include cent();

    &::after{
      position: absolute;
      content:'';
      bottom: -14%;
      margin: auto;
      width: 50em;
      height: .03em;
      background: var(--color0  );
    }
    .works-poster {
      width: 25em;
      height: 100%;
      background: seagreen;
      background-image: url("../Images/1590098684498-2042443623[21808].jpg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      @include cent();
      h1 {
        background: var(--colorX);
        width: 100%;
        height: 2em;
        @include cent();
      }
    }
    .travaux-annexes{
      background-image: url("../Images/IMG_20180214_104817_edit.jpg");

    }
    .works-description-container {
      max-width: calc(100%-70em);
      height: 100%;
      padding: 2em;
      padding-bottom: 0em;
      @include cent();
      flex-wrap: wrap;
      .works-description {
        width: 100%;
        max-width: 70em;
        // background: salmon;
      }
    }

  }
  h2{
    margin-top: 4em;
  }
  .contact-container{
    width: 100%;
    height: 20em;
    background: salmon;
  }
}
