@font-face {
  src: url(./RocknRoll_One/RocknRollOne-Regular.ttf);
  font-family: RocknRollOne;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

body {
  --colorX: #262626;
  --colorXX: #1a1a1a;
  --color0: #f2d6bd;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: var(--colorX);
  color: var(--color0);
  font-family: "RocknRollOne";
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0%;
  z-index: 1000;
  width: 100%;
  height: 3em;
  background: var(--colorX);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  text-decoration: none;
  color: var(--color0);
  margin: 1em 5% 1em 0em;
}

.navigation ul li {
  list-style-type: none;
  width: auto;
  margin: 0em 0.5em 0em 0.5em;
}

.navigation ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation ul li a {
  color: var(--color0);
  text-decoration: none;
  opacity: .3;
}

.navigation ul .acceuil-link a {
  opacity: 1;
}

#acceuil-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
}

#acceuil-container .background-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  min-width: 50em;
  min-height: 50em;
  background: url("../Images/acceuil-bacground.svg");
  background-size: 215%;
  background-position: -115vh -35vw;
  background-repeat: no-repeat;
}

#acceuil-container .text-in-acceuil-background,
#acceuil-container .text-in-acceuil {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--colorXX);
  z-index: -1;
}

#acceuil-container .text-in-acceuil {
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
  padding: 1em 2em 1em 2em;
  z-index: 2;
}

#acceuil-container .social-networks-container {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

#acceuil-container .social-networks-container .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#acceuil-container .social-networks-container .social-networks .social-networks-icons {
  width: 2em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2em;
}

#acceuil-container .social-networks-container .social-networks-link a {
  cursor: pointer;
  color: var(--color0);
  text-decoration: none;
}

#biographie-container {
  margin-top: 3em;
  width: 100%;
  height: calc(100vh - 3em);
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-row-gap: 3em;
  /* Track */
  /* Handle */
}

#biographie-container::-webkit-scrollbar {
  width: 5px;
}

#biographie-container::-webkit-scrollbar-track {
  background: var(--colorx);
}

#biographie-container::-webkit-scrollbar-thumb {
  background: rgba(242, 214, 189, 0.2);
}

#biographie-container::-webkit-scrollbar-thumb:hover {
  background: var(--color0);
}

#biographie-container .carte-container {
  width: 100%;
  border-top: 0.01em var(--color0) solid;
  margin-top: 2em;
  padding-bottom: 5em;
}

#biographie-container .carte-container .carte {
  margin: auto;
  width: 40em;
}

#biographie-container .carte-container .carte h1 {
  font-weight: 100;
  padding: .5em;
}

#biographie-container .carte-container .carte section {
  border: 0.01em var(--color0) solid;
  padding: 2em;
  font-size: .8em;
}

#tableaux-container {
  margin-top: 3em;
  width: 100%;
  height: calc(100vh - 3em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#tableaux-container .tableaux-grid {
  width: 100%;
  height: 100%;
  width: 80em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 1em;
  overflow-y: scroll;
  padding-top: 4em;
  /* Track */
  /* Handle */
}

#tableaux-container .tableaux-grid::-webkit-scrollbar {
  width: 5px;
}

#tableaux-container .tableaux-grid::-webkit-scrollbar-track {
  background: var(--colorx);
}

#tableaux-container .tableaux-grid::-webkit-scrollbar-thumb {
  background: rgba(242, 214, 189, 0.2);
}

#tableaux-container .tableaux-grid::-webkit-scrollbar-thumb:hover {
  background: var(--color0);
}

#tableaux-container .tableaux-grid .tableaux-rows {
  min-height: 100%;
  height: auto;
}

#tableaux-container .tableaux-grid .tableaux-rows .tableaux-container {
  width: 95%;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

#tableaux-container .tableaux-grid .tableaux-rows .tableaux-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#tableaux-container .tableaux-grid .tableaux-rows .tableaux-container h3 {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

#tableaux-container .tableaux-grid .tableaux-rows .tableaux-container img {
  border: 0.2em var(--colorXX) solid;
}

#tableaux-container .tableaux-grid .tableaux-rows .tableaux-container p {
  font-size: .7em;
  border: 0.01em var(--color0) solid;
  padding: 1em;
  text-align: center;
}

#tableaux-container .tableaux-presentation-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: none;
}

#tableaux-container .tableaux-presentation-container .the-tableaux {
  width: 100%;
  height: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  /* Track */
  /* Handle */
}

#tableaux-container .tableaux-presentation-container .the-tableaux::-webkit-scrollbar {
  width: 5px;
}

#tableaux-container .tableaux-presentation-container .the-tableaux::-webkit-scrollbar-track {
  background: var(--colorx);
}

#tableaux-container .tableaux-presentation-container .the-tableaux::-webkit-scrollbar-thumb {
  background: rgba(242, 214, 189, 0.2);
}

#tableaux-container .tableaux-presentation-container .the-tableaux::-webkit-scrollbar-thumb:hover {
  background: var(--color0);
}

#tableaux-container .tableaux-presentation-container .the-tableaux h2 {
  width: 100%;
  text-align: center;
}

#tableaux-container .tableaux-presentation-container .the-tableaux img {
  height: calc(100vh / 1.2);
  border: 0.2em var(--color0) solid;
}

#tableaux-container .tableaux-presentation-container .the-tableaux .the-tableaux-description {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

#tableaux-container .tableaux-presentation-container .the-tableaux .the-tableaux-description p {
  border: 0.05em var(--color0) solid;
  font-size: .7em;
  padding: 1em;
  width: 50%;
}

#tableaux-container .tableaux-presentation-container .close-the-tableaux {
  cursor: pointer;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: .5em;
  left: .5em;
  background-image: url("../Images/close-icon.svg");
  background-size: 100%;
  background-position: center;
  z-index: 10;
}

#tableaux-container .tableaux-presentation-container .close-the-tableaux:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#tableaux-container .tableaux-presentation-container .close-the-tableaux:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#atelier {
  width: 100%;
  height: calc(100vh - 3em);
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  /* Track */
  /* Handle */
}

#atelier::-webkit-scrollbar {
  width: 5px;
}

#atelier::-webkit-scrollbar-track {
  background: var(--colorX);
}

#atelier::-webkit-scrollbar-thumb {
  background: rgba(242, 214, 189, 0.2);
}

#atelier::-webkit-scrollbar-thumb:hover {
  background: var(--color0);
}

#atelier .works {
  width: 100%;
  height: 14em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#atelier .works::after {
  position: absolute;
  content: '';
  bottom: -14%;
  margin: auto;
  width: 50em;
  height: .03em;
  background: var(--color0);
}

#atelier .works .works-poster {
  width: 25em;
  height: 100%;
  background: seagreen;
  background-image: url("../Images/1590098684498-2042443623[21808].jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#atelier .works .works-poster h1 {
  background: var(--colorX);
  width: 100%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#atelier .works .travaux-annexes {
  background-image: url("../Images/IMG_20180214_104817_edit.jpg");
}

#atelier .works .works-description-container {
  max-width: calc(100%-70em);
  height: 100%;
  padding: 2em;
  padding-bottom: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#atelier .works .works-description-container .works-description {
  width: 100%;
  max-width: 70em;
}

#atelier h2 {
  margin-top: 4em;
}

#atelier .contact-container {
  width: 100%;
  height: 20em;
  background: salmon;
}
/*# sourceMappingURL=style.css.map */