@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  src: url(./RocknRoll_One/RocknRollOne-Regular.ttf);
  font-family: RocknRollOne;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  --colorX: #262626;
  --colorXX: #1a1a1a;
  --color0: #f2d6bd;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: var(--colorX);
  color: var(--color0);
  font-family: "RocknRollOne";
}

.navigation {
  @include cent();
  justify-content: flex-end;
  position: fixed;
  top: 0%;
  z-index: 1000;
  width: 100%;
  height: 3em;
  background: var(--colorX);
  box-shadow: var(--shadow);
  ul {
    display: flex;
    width: auto;
    text-decoration: none;
    color: var(--color0);
    margin: 1em 5% 1em 0em;
    li {
      list-style-type: none;
      width: auto;
      margin: 0em 0.5em 0em 0.5em;
      &:hover {
        transform: scale(1.1);
      }
      a {
        color: var(--color0);
        text-decoration: none;
      }
    }
  }
}

@import "./accueil";
@import "./biographie";
@import "./tableaux";
@import "./atelier";
